
<!-- HTML -->
html {
  font-family: arial;
}



<!-- BODY -->
body {
  font-family: arial, serif;
  font-size: 100px;
}

nav a img {
  margin-left: 50%;
}

body nav .mr-auto {
  margin: auto;
}

.text_pres {
  text-align: left;
}

.jumbotron {
  background-image: url('image/Trois_paris.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: bol
  color: black;
}

.txt_pres {
  padding: 3%;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0, 0.6);
}

.imagefond {
 background: url('') no-repeat center center;
 position: fixed;
 width: 100%;
 height: 300px;
 top:0;
 left:0;
 z-index: -1;
 opacity: 0.2;
}

#WHAT {
  margin-top: 10%;
  margin-bottom: 10%;
}


#WHY {
  margin-top: 10%;
  margin-bottom: 10%;
}

#WHY p {
  text-align: center;
  width: 50%;
  margin: auto;
}

#WHERE p {
  text-align: center;
}

#WHERE img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

<!-- Page WHO? -->

.exosition {
   
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: right;
}

footer{
  padding:30px 0px;
  background-color:#D3D3D3;
  text-align:center;
}


